




    <div style="padding-left: 25px; padding-right: 25px;">
      <div class="row" style="margin-bottom: 25px; margin-top: -25px;">
<div class="col-md-offset-2 col-md-8 text-center standalone">

  <h3 style="margin-bottom: 25px;">Contact Us</h3>

  <form accept-charset=UTF-8 action=contacts id=new_contact method=post>

    <input name="authenticity_token" value="A4BqAAGbcLHzzawD4HSNjJ1sOxRAiky/L6tFa5dqX18=" type="hidden">

    <div style="position:absolute; left: -6500px;">
  <input class="form-control" id=password name="password" placeholder="Do not fill this..." type=password />
</div>

<div style="position:absolute; left: -6500px;">
  <input class="form-control" id=email name="email" placeholder="Do not fill this..." type=text />
</div>

<div style="position:absolute; left: -6500px;">
  <input class="form-control" id=username name="user[username]" placeholder="Do not fill this..." type=text />
</div>

<span id=shex style="display: none;">3dcefe0d2edf37ec4ff60f7f6ab05caa</span>




    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
      <input autofocus=autofocus id=contact_name name="contact[name]" placeholder="Your name..." required=required type=text class="form-control" />
    </div>

    <div class="input-group input-group-lg">
      <span class=input-group-addon><i class="fa fa-envelope fa-fw"></i></span>
      <input class="form-control" id=contact_email name="contact[email]" placeholder="Your e-mail address..." required=required type=email
	     />
    </div>

    <div class="input-group input-group-md">
      <span class=input-group-addon><i class="fa fa-edit fa-fw" style="font-weight: bold; font-size: 26px; padding: 4px;"></i></span>
      <textarea class="form-control pull-left" id=contact_message name="contact[message]" placeholder="Your inquiry or message..." required=required rows="8"></textarea>
    </div>

    <input class="button btn btn-lg btn-success submitter" name=commit style="margin-top:25px;" type=submit value="Send Message"/>
  </form>

</div>
</div>


    </div>

    <footer id="page-footer">
      <div class="container">
	<p><span>Have questions or feedback?</span> <a href="/contacts" class="gold button">Contact Us</a></p>
	<div class="col sm-col-03 md-col-06 lg-col-03">
	  <p>
	    <img src="/images/blockio-wordmark-white.svg" class="logo" />
	    <span>&copy; 2017 Block.io</span>
	  </p>
	</div>
	<div class="col sm-col-03 md-col-02 lg-col-03">
	  <h2>For developers</h2>
	  <ul>
	    <li><a href="/pricing">Pricing</a></li>
	    <li><a href="/api">API Docs</a></li>
	    <li><a href="http://status.block.io" target=_blank>Platform Status</a></li>

	    <li><a href="https://chain.so/?gn=6">Blockchain Explorer</a></li>
	  </ul>
	</div>
	<div class="col sm-col-03 md-col-02 lg-col-03">
	  <h2>About Block.io</h2>
	  <ul>
	    <li><a href="/faq">FAQ</a></li>
	  </ul>
	</div>
	<div class="col sm-col-03 md-col-02 lg-col-03 last">
	  <h2>Connect with us</h2>
	  <ul>
	    <li><a href="https://www.facebook.com/blockapi" target=_blank>Facebook</a></li>
	    <li><a href="https://twitter.com/blockio" target=_blank>Twitter</a></li>
	    <li>#block.io (chat.freenode.net)</li>
	  </ul>
	</div>
      </div>
    </footer>
</div>
