
    <div style="padding-left: 25px; padding-right: 25px;">
      <div class="dash-font-size">
  <div class="simple-docs">

      <h2 class="text-center" style='margin: 35px;'>Robust Features for Developers</h2>

      <div class="row">

	  <div class="well well-sm text-center">
	    <a href='/docs/basic' style='color: black;'>
	      <p><i class="fa fa-bank fa-5x text-success"></i></p>
	      <h4>Basic Wallet API</h4>
	    </a>

	    <p style='max-width: 520px; margin: 0 auto;'>Use our easy <strong>Basic MultiSig</strong> API to build secure wallets for your applications. Includes instant transfers using Green Addresses.<br><em>You control your own coins, no one else.</em></p>
	  </div>

	  <div class="well well-sm text-center">
	    <a href='/docs/notifications' style='color: black;'>
	      <p><i class="fa fa-rocket fa-5x text-info"></i></p>
	      <h4>Real-time Notifications</h4>
	    </a>

	    <p style='max-width: 520px; margin: 0 auto;'>Leverage our fast real-time notifications through <strong>Web Hooks</strong> and <strong>Web Sockets</strong> to give your applications that extra oomph.</p>
	  </div>

	  <div class="well well-sm text-center">
	    <a href='/docs/payment_forwarder' style='color: black;'>
	      <p><i class="fa fa-random fa-5x text-warning"></i></p>
	      <h4>Instant Payment Forwarder</h4>
	    </a>

	    <p style='max-width: 520px; margin: 0 auto;'>Payment forwarding made fast, and easy.</p>
	  </div>

	  <p class="text-center"><a href='http://status.block.io' target=_blank class='btn btn-lg btn-default'><strong>View Platform Status</strong></a></p>

      </div>

  </div>
</div>


    </div>

    <footer id="page-footer">
      <div class="container">
	<p><span>Have questions or feedback?</span> <a href="/contacts" class="gold button">Contact Us</a></p>
	<div class="col sm-col-03 md-col-06 lg-col-03">
	  <p>
	    <img src="/images/blockio-wordmark-white.svg" class="logo" />
	    <span>&copy; 2017 Block.io</span>
	  </p>
	</div>
	<div class="col sm-col-03 md-col-02 lg-col-03">
	  <h2>For developers</h2>
	  <ul>
	    <li><a href="/pricing">Pricing</a></li>
	    <li><a href="/api">API Docs</a></li>
	    <li><a href="http://status.block.io" target=_blank>Platform Status</a></li>

	    <li><a href="https://chain.so/?gn=6">Blockchain Explorer</a></li>
	  </ul>
	</div>
	<div class="col sm-col-03 md-col-02 lg-col-03">
	  <h2>About Block.io</h2>
	  <ul>
	    <li><a href="/faq">FAQ</a></li>
	  </ul>
	</div>
	<div class="col sm-col-03 md-col-02 lg-col-03 last">
	  <h2>Connect with us</h2>
	  <ul>
	    <li><a href="https://www.facebook.com/blockapi" target=_blank>Facebook</a></li>
	    <li><a href="https://twitter.com/blockio" target=_blank>Twitter</a></li>
	    <li>#block.io (chat.freenode.net)</li>
	  </ul>
	</div>
      </div>
    </footer>
</div>
