<div style="margin-top: -35px;">
<section class="security-hero clearfix">

  <div class="container">
    <div class="col md-col-03 lg-col-06">
      <h1>Our Security</h1>
      <p class="intro">Our addresses require at upto 5 signatures for every withdrawal: one of ours, and upto 4 of yours. Simply put: we do not have access to your coins.</p>
      <p>This section tells you how we approach our systems' and users' safety, and provides guidelines for you to follow.</p>
    </div>
  </div>
</section>
</div>

    
