




    <div style="padding-left: 25px; padding-right: 25px;">

<div class="row" style="margin-bottom: 25px;">

<div class="col-md-6 col-md-offset-3 text-center standalone" id="pwdcontainer">

<!-- Form Started Here  -->
<form   class="new_user"  >
<!-- <div style="display:none">
<input name="utf8" type="hidden" value="&#x2713;" />
<input name="authenticity_token" type="hidden" value="xFl/SGzhqFTviypazjwsTY/aZKvlv2lefo5luSsl764=" />
</div> -->



<!--   <div style="position:absolute; left: -6500px;">
  <input class="form-control" id=password name="password" placeholder="Do not fill this..." type=password />
</div>

<div style="position:absolute; left: -6500px;">
  <input class="form-control" id=email name="email" placeholder="Do not fill this..." type=text />
</div>

<div style="position:absolute; left: -6500px;">
  <input class="form-control" id=username name="user[username]" placeholder="Do not fill this..." type=text />
</div>

<span id=shex style="display: none;">d05cc58c1d981d05fce164640910ab36</span> -->




    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
      <input autofocus="autofocus" class="form-control" id="user_email" name="user[email]" placeholder="Your e-mail address..." type="email" value="" />
    </div>

    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
      <input autocomplete="off" class="form-control" id="user_password" name="user[password]" placeholder="Your password..." type="password" />
    </div>

    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
      <input autocomplete="off" class="form-control" id="user_password_confirmation" name="user[password_confirmation]" placeholder="Re-enter password..." type="password" />
    </div>

    <div class="pwstrength_viewport_progress text-center poptip" style="margin: 15px" data-toggle=tooltip title="The strength of your password. Green is best."></div>

  <div style="margin: 25px;">
  </div>

  <div><input class="button btn-success submitter" name="commit" onclick="signUp()"  value="Sign Up" /></div>
</form>
<!-- Form Ended Here  -->
</div>
</div>


    </div>

    <footer id="page-footer">
      <div class="container">
	<p><span>Have questions or feedback?</span> <a href="/contacts" class="gold button">Contact Us</a></p>
	<div class="col sm-col-03 md-col-06 lg-col-03">
	  <p>
	    <img src="/images/blockio-wordmark-white.svg" class="logo" />
	    <span>&copy; 2017 Block.io</span>
	  </p>
	</div>
	<div class="col sm-col-03 md-col-02 lg-col-03">
	  <h2>For developers</h2>
	  <ul>
	    <li><a href="/pricing">Pricing</a></li>
	    <li><a href="/api">API Docs</a></li>
	    <li><a href="http://status.block.io" target=_blank>Platform Status</a></li>

	    <li><a href="https://chain.so/?gn=6">Blockchain Explorer</a></li>
	  </ul>
	</div>
	<div class="col sm-col-03 md-col-02 lg-col-03">
	  <h2>About Block.io</h2>
	  <ul>
	    <li><a href="/faq">FAQ</a></li>
	    <li><a href="https://block.leaddyno.com/" target=_blank>Become an Affiliate</a></li>
	  </ul>
	</div>
	<div class="col sm-col-03 md-col-02 lg-col-03 last">
	  <h2>Connect with us</h2>
	  <ul>
	    <li><a href="https://www.facebook.com/blockapi" target=_blank>Facebook</a></li>
	    <li><a href="https://twitter.com/blockio" target=_blank>Twitter</a></li>
	    <li>#block.io (chat.freenode.net)</li>
	  </ul>
	</div>
      </div>
    </footer>
</div>
